/* Global CSS or component-specific CSS */

/* Hover effect for tab buttons */
/*ion-tab-button:hover {
    background-color: #D4D4D4; /* Background color on hover */
    /*transition: background-color 0.3s, color 0.3s; /* Smooth transition 
  } */

/* Global CSS or component-specific CSS */

/* Active state for the tab buttons */
/* Global CSS or component-specific CSS */

/* Global CSS or component-specific CSS */

/* Active state for the tab buttons */
ion-tab-button.selected {
    background-color: #D4D4D4; /* Background color for active tab */
  }
  
  
  /* Hover effect for tab buttons */
  ion-tab-button:hover {
    background-color: #D4D4D4; /* Background color on hover */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
  }
  
  
  
  

  